.content{
    display: flex;
    justify-content: center;

}


.Buttons{
    display: flex;
    justify-content: center;
    padding-top: 32px;
    gap: 8px;
    
}


#board{
    border: 100px solid red;
    border-radius: 50px;
    height: 600px;
    width: 600px;
    display: grid;

    /*position: relative;*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-around;*/
}


.square{
    background-color: wheat;
}


.changeSize{
    display: flex;
    align-items: center;
    flex-direction: column;
}



